@import "tailwindcss";

.nav-btn {
  padding: 7px 15px;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.nav-btn:hover {
  background: #2563eb;
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.4);
}
